In [1]:
# Libraries to help with reading and manipulating data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Libraries to help with data visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Library to extract datetime features
import datetime as dt

In [2]:
# Read in csv file
data = pd.read_csv("../Resources/imdb_movies.csv")

In [3]:
# Copying data to another variable to avoid any changes to the original data
df = data.copy()

In [4]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10178 non-null  object
 1   date_x      10178 non-null  object
 2   score       10178 non-null  float64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   orig_lang   10178 non-null  object
 9   budget_x    10178 non-null  float64
 10  revenue     10178 non-null  float64
 11  country     10178 non-null  object
dtypes: float64(3), object(9)
memory usage: 954.3+ KB

In [6]:
# Convert date_x to datetime, and  budget_x and revenue into integers:
df['date_x'] = pd.to_datetime(df['date_x'])
df['budget_x'] = df['budget_x'].astype(int)
df['revenue'] = df['revenue'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10178 non-null  object
 1   date_x      10178 non-null  datetime64[ns]
 2   score       10178 non-null  float64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   orig_lang   10178 non-null  object
 9   budget_x    10178 non-null  int64
 10  revenue     10178 non-null  int64
 11  country     10178 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 954.3+ KB

In [7]:
df

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,2023-03-02,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000,271616668,AU
1,Avatar: The Way of Water,2022-12-15,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000,2316794914,AU
2,The Super Mario Bros. Movie,2023-04-05,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000,724459031,AU
3,Mummies,2023-01-05,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000,34200000,AU
4,Supercell,2023-03-17,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000,340941958,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,2016-12-28,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000,9353729,US
10174,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817,6698361,US
10175,The Russia House,1990-12-21,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000,22997992,US
10176,Darkman II: The Return of Durant,1995-07-11,55.0,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000,475661306,US
10177,The Swan Princess: A Royal Wedding,2020-07-20,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000,539401838,GB

In [8]:
# Modified code from ChatGPT
# Identify duplicates (marking all duplicates as True, the first occurrence as False by default)
duplicates = df.duplicated(keep='first')

# Count duplicates
num_duplicates = duplicates.sum()

# Display the number of duplicates
print(f"Number of duplicate rows: {num_duplicates}")

# Review duplicate rows to understand what's being duplicated
print("Duplicate rows:")
df[duplicates]

#

Number of duplicate rows: 0
Duplicate rows:

Empty DataFrame
Columns: [names, date_x, score, genre, overview, crew, orig_title, status, orig_lang, budget_x, revenue, country]
Index: []

In [9]:
# Display column names
df.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country'],
      dtype='object')

In [10]:
# Identify columns with null data and how many items. 
df.isna().sum()

names          0
date_x         0
score          0
genre         85
overview       0
crew          56
orig_title     0
status         0
orig_lang      0
budget_x       0
revenue        0
country        0
dtype: int64

In [11]:
# Display sample rows with null values for genre
df[df['genre'].isnull()].head(10)

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
305,Housewife Sex Slaves: Hatano Yui,2015-01-09,0.0,NaN,We don't have an overview translated in Englis...,"Yui Hatano,",人妻性奴隷 波多野結衣,Released,Japanese,167540000,175269998,JP
1174,Beauty Rope Cosmetology,1983-12-02,10.0,NaN,Miki is the daughter of an affluent family. Sh...,"Miki Takakura, Miki, Maya Ito, Rena, Ren Osugi...",団鬼六 美女縄化粧,Released,Japanese,201940000,38157314,JP
1561,Reclaim,2022-07-29,20.0,NaN,She is a good woman living a fulfilling life. ...,NaN,Reclaim,Released,Chinese,12001040,38139010,US
1762,Ancient Chinese Whorehouse,1994-09-15,50.0,NaN,Madam Five and carpenter Kong work together ma...,"Kent Cheng, Kong, Yvonne Yung Hung, Miss Ng, S...",青樓十二房,Released,Cantonese,163600000,812667214,HK
1776,Porno document: Toruko tokkyû bin,1982-02-26,100.0,NaN,Pinku from 1982.,"Jun Miho, , Rumi Kagawa, , Miyuki Oka, , Kayok...",ポルノドキュメント トルコ特急便,Released,Japanese,201000000,1569323843,JP
2020,"Moses, Prince of Egypt",2000-01-01,56.0,NaN,"At birth, Moses, a Hebrew baby is abandoned on...",NaN,"Moses, Prince of Egypt",Released,English,80300000,321306715,AU
2144,My Beautiful Man ～eternal～,2023-04-07,0.0,NaN,We don't have an overview translated in Englis...,"Riku Hagiwara, , Yusei Yagi,",美しい彼～eternal～,Released,Japanese,167540000,175269998,JP
2267,Office Lady Rope Slave,1981-01-23,20.0,NaN,Two assistants to an S&M photographer decide t...,"Junko Mabuki, Kimiyo Ezaki, Asami Ogawa, Kikuk...",団鬼六 ＯＬ縄奴隷,Released,Japanese,12001040,38139010,JP
2317,Dream to be a Wife,2015-09-09,0.0,NaN,We don't have an overview translated in Englis...,"Ai Uehara,",欲望人妻：滴垂之蜜,Released,Chinese,167540000,175269998,CN
2431,Barbie,1977-01-01,20.0,NaN,Barbie comes home from shopping. She takes her...,NaN,Barbie,Released,No Language,12001040,38139010,US

In [12]:
# Display sample rows with null values for crew
df[df['crew'].isnull()].head(10)

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
148,Orgasm Inc: The Story of OneTaste,2022-11-05,64.0,Documentary,A sexual wellness company gains fame and follo...,NaN,Orgasm Inc: The Story of OneTaste,Released,English,77400000,431611098,US
206,Legend of the Galactic Heroes: Die Neue These ...,2022-09-30,61.0,Animation,The story focuses on the exploits of rivals Re...,NaN,銀河英雄伝説 Die Neue These 策謀 1,Released,Japanese,138000000,337725907,JP
649,Cuento de Primavera-A Spring Tale,2022-12-20,81.0,"Drama, Fantasy, Mystery",We don't have an overview translated in Englis...,NaN,Cuento de Primavera-A Spring Tale,Released,"Spanish, Castilian",77600000,827017257,US
938,Cat Pack: A PAW Patrol Exclusive Event,2022-06-24,74.0,"Animation, Family",When Mayor Humdinger transforms his robot cat ...,NaN,Cat Pack: A PAW Patrol Exclusive Event,Released,English,92800000,609222681,US
1561,Reclaim,2022-07-29,20.0,NaN,She is a good woman living a fulfilling life. ...,NaN,Reclaim,Released,Chinese,12001040,38139010,US
1752,Avatar: Scene Deconstruction,2009-12-18,71.0,Documentary,The deconstruction of the Avatar scenes and sets,NaN,Avatar: Scene Deconstruction,Released,English,90100000,414551647,US
1828,Cyber Hell: Exposing an Internet Horror,2022-05-18,73.0,Documentary,"Anonymous and exploitative, a network of onlin...",NaN,사이버 지옥: n번방을 무너뜨려라,Released,Korean,53600000,682429959,KR
1881,Guinea Pig: Devil's Experiment,1985-09-04,47.0,Horror,A group of guys capture a young girl with the ...,NaN,ギニーピッグ 悪魔の実験,Released,Japanese,57800000,519287241,US
2020,"Moses, Prince of Egypt",2000-01-01,56.0,NaN,"At birth, Moses, a Hebrew baby is abandoned on...",NaN,"Moses, Prince of Egypt",Released,English,80300000,321306715,AU
2431,Barbie,1977-01-01,20.0,NaN,Barbie comes home from shopping. She takes her...,NaN,Barbie,Released,No Language,12001040,38139010,US

In [13]:
# Remove all null values
df.dropna(inplace=True)
df

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,2023-03-02,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000,271616668,AU
1,Avatar: The Way of Water,2022-12-15,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000,2316794914,AU
2,The Super Mario Bros. Movie,2023-04-05,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000,724459031,AU
3,Mummies,2023-01-05,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000,34200000,AU
4,Supercell,2023-03-17,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000,340941958,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,2016-12-28,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000,9353729,US
10174,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817,6698361,US
10175,The Russia House,1990-12-21,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000,22997992,US
10176,Darkman II: The Return of Durant,1995-07-11,55.0,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000,475661306,US
10177,The Swan Princess: A Royal Wedding,2020-07-20,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000,539401838,GB

In [14]:
# Rename Columns:
df= df.rename(columns={
    'names':'Title', 
    'date_x':'Date',
    'score':'Rating', 
    'genre':'Genre', 
    'overview':'Overview', 
    'crew':'Crew', 
    'orig_title':'Orginal Title',
    'status':'Status', 
    'orig_lang':'Orginal Language', 
    'budget_x':'Budget', 
    'revenue':'Revenue', 
    'country':'Country'
}
)

In [15]:
df

,Title,Date,Rating,Genre,Overview,Crew,Orginal Title,Status,Orginal Language,Budget,Revenue,Country
0,Creed III,2023-03-02,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000,271616668,AU
1,Avatar: The Way of Water,2022-12-15,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000,2316794914,AU
2,The Super Mario Bros. Movie,2023-04-05,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000,724459031,AU
3,Mummies,2023-01-05,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000,34200000,AU
4,Supercell,2023-03-17,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000,340941958,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,2016-12-28,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000,9353729,US
10174,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817,6698361,US
10175,The Russia House,1990-12-21,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000,22997992,US
10176,Darkman II: The Return of Durant,1995-07-11,55.0,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000,475661306,US
10177,The Swan Princess: A Royal Wedding,2020-07-20,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000,539401838,GB

In [18]:
# Split the 'Names' column into separate columns
# expand=True will expand the split strings into separate columns
df_split = df['Crew'].str.split(',', expand=True)

# Rename columns for clarity (optional)
df_split.columns = [f'Crew_{i+1}' for i in range(df_split.shape[1])]

# Display the result
df_split

,Crew_1,Crew_2,Crew_3,Crew_4,Crew_5,Crew_6,Crew_7,Crew_8,Crew_9,Crew_10,...,Crew_15,Crew_16,Crew_17,Crew_18,Crew_19,Crew_20,Crew_21,Crew_22,Crew_23,Crew_24
0,Michael B. Jordan,Adonis Creed,Tessa Thompson,Bianca Taylor,Jonathan Majors,Damien Anderson,Wood Harris,Tony 'Little Duke' Evers,Phylicia Rashād,Mary Anne Creed,...,José Benavidez Jr.,Felix Chavez,Selenis Leyva,Laura Chavez,None,None,None,None,None,None
1,Sam Worthington,Jake Sully,Zoe Saldaña,Neytiri,Sigourney Weaver,Kiri / Dr. Grace Augustine,Stephen Lang,Colonel Miles Quaritch,Kate Winslet,Ronal,...,CCH Pounder,Mo'at,Edie Falco,General Frances Ardmore,None,None,None,None,None,None
2,Chris Pratt,Mario (voice),Anya Taylor-Joy,Princess Peach (voice),Charlie Day,Luigi (voice),Jack Black,Bowser (voice),Keegan-Michael Key,Toad (voice),...,Kevin Michael Richardson,Kamek (voice),Sebastian Maniscalco,Spike (voice),None,None,None,None,None,None
3,Óscar Barberán,Thut (voice),Ana Esther Alborg,Nefer (voice),Luis Pérez Reina,Carnaby (voice),María Luisa Solá,Madre (voice),Jaume Solà,Sekhem (voice),...,Aleix Estadella,Dennis (voice),María Moscardó,Usi (voice),None,None,None,None,None,None
4,Skeet Ulrich,Roy Cameron,Anne Heche,Dr Quinn Brody,Daniel Diemer,William Brody,Jordan Kristine Seamón,Harper Hunter,Alec Baldwin,Zane Rogers,...,Johnny Wactor,Martin,Anjul Nigam,Ramesh,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10173,Annette Bening,Dorothea Fields,Lucas Jade Zumann,Jamie Fields,Greta Gerwig,Abbie Porter,Elle Fanning,Julie Miller,Billy Crudup,William,...,Vitaly Andrew LeBeau,Young Jamie,Olivia Hone,Julie's Sister,None,None,None,None,None,None
10174,Chuck Norris,Col. Scott McCoy,Billy Drago,Ramon Cotta,John P. Ryan,Gen. Taylor,Richard Jaeckel,DEA Agent John Page,Begonya Plaza,Quiquina Esquintla,...,Mark Margolis,Gen. Olmedo,Mateo Gómez,Ernesto Flores,None,None,None,None,None,None
10175,Sean Connery,Bartholomew 'Barley' Scott Blair,Michelle Pfeiffer,Katya Orlova,Roy Scheider,Russell,James Fox,Ned,John Mahoney,Brady,...,Ken Russell,Walter,David Threlfall,Wicklow,None,None,None,None,None,None
10176,Larry Drake,Robert G. Durant,Arnold Vosloo,Darkman / Peyton Westlake,Kim Delaney,Jill Randall,Renee O'Connor,Laurie Brinkman,Lawrence Dane,Dr. Alfred Hathaway,...,David Ferry,Eddie,Jack Langedijk,Rollo Latham,None,None,None,None,None,None
10177,Nina Herzog,Princess Odette (voice),Yuri Lowenthal,Prince Derek (voice),Vivian Lu,Fang,Joseph Medrano,Lord Rogers,Christine Lakin,Queen Uberta,...,Alexandre Chen,Chen,Hao Feng,Chen (singing voice),None,None,None,None,None,None

In [20]:
df

,Title,Date,Rating,Genre,Overview,Crew,Orginal Title,Status,Orginal Language,Budget,Revenue,Country
0,Creed III,2023-03-02,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000,271616668,AU
1,Avatar: The Way of Water,2022-12-15,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000,2316794914,AU
2,The Super Mario Bros. Movie,2023-04-05,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000,724459031,AU
3,Mummies,2023-01-05,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000,34200000,AU
4,Supercell,2023-03-17,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000,340941958,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,2016-12-28,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000,9353729,US
10174,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817,6698361,US
10175,The Russia House,1990-12-21,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000,22997992,US
10176,Darkman II: The Return of Durant,1995-07-11,55.0,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000,475661306,US
10177,The Swan Princess: A Royal Wedding,2020-07-20,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000,539401838,GB

In [21]:
top_10_revenues = df.sort_values("Revenue",ascending=False)[0:10]
top_10_revenues

,Title,Date,Rating,Genre,Overview,Crew,Orginal Title,Status,Orginal Language,Budget,Revenue,Country
68,Avatar,2009-12-17,76.0,"Action, Adventure, Fantasy, Science Fiction","In the 22nd century, a paraplegic Marine is di...","Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar,Released,English,237000000,2923706026,AU
230,Avengers: Endgame,2019-04-24,83.0,"Adventure, Science Fiction, Action",After the devastating events of Avengers: Infi...,"Robert Downey Jr., Tony Stark / Iron Man, Chri...",Avengers: Endgame,Released,English,400000000,2794731755,AU
1,Avatar: The Way of Water,2022-12-15,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000,2316794914,AU
309,Titanic,1997-12-18,79.0,"Drama, Romance",101-year-old Rose DeWitt Bukater tells the sto...,"Leonardo DiCaprio, Jack Dawson, Kate Winslet, ...",Titanic,Released,English,200000000,2222985568,AU
6670,Titanic,1953-04-11,66.0,"Drama, Romance","Unhappily married, Julia Sturges decides to go...","Clifton Webb, Richard Ward Sturges, Barbara St...",Titanic,Released,English,200000000,2222985568,US
4483,Louis Tomlinson: All of Those Voices,2023-03-22,91.0,"Documentary, Music",Ditching the typical glossy sheen of celebrity...,"Louis Tomlinson, Self, Oliver Wright, Louis’ P...",Louis Tomlinson: All of Those Voices,Released,English,178800000,2081794005,GB
943,Star Wars: The Force Awakens,2015-12-17,73.0,"Adventure, Action, Science Fiction, Fantasy",Thirty years after defeating the Galactic Empi...,"Harrison Ford, Han Solo, Mark Hamill, Luke Sky...",Star Wars: The Force Awakens,Released,English,245000000,2068223624,AU
104,Avengers: Infinity War,2018-04-25,83.0,"Adventure, Action, Science Fiction",As the Avengers and their allies have continue...,"Robert Downey Jr., Tony Stark / Iron Man, Chri...",Avengers: Infinity War,Released,English,300000000,2048359754,AU
76,Spider-Man: No Way Home,2021-12-16,80.0,"Action, Adventure, Science Fiction",Peter Parker is unmasked and no longer able to...,"Tom Holland, Peter Parker / Spider-Man, Zenday...",Spider-Man: No Way Home,Released,English,200000000,1910048245,AU
2156,BTS: Permission to Dance on Stage - LA,2022-09-08,92.0,"Music, Documentary","Purple colors the city of Los Angeles, as BTS ...","Kim Nam-joon, Self, Kim Seok-jin, Self, Min Yo...",BTS: PERMISSION TO DANCE 온 스테이지 – LA,Released,Korean,215600000,1748017438,KR